---
version: 1
interactions:
- request:
    body: "--f816909793effa0b869b4db72f37fb79468de68da39f62e8fb3628e79c00\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"\"\r\nContent-Type: application/octet-stream\r\n\r\nfile
      1 content\r\n--f816909793effa0b869b4db72f37fb79468de68da39f62e8fb3628e79c00--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=f816909793effa0b869b4db72f37fb79468de68da39f62e8fb3628e79c00
    url: https://ipfs.infura.io:5001/api/v0/add?encoding=json&pin=true&progress=false&stream-channels=true
    method: POST
  response:
    body: |
      {"Name":"QmSFEbC6Y17cdti7damkjoqESWftkyfSXjdKDQqnf4ECV7","Hash":"QmSFEbC6Y17cdti7damkjoqESWftkyfSXjdKDQqnf4ECV7","Size":"22"}
    headers:
      Content-Type:
      - application/json
      X-Chunked-Output:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: "--8ce9e41b908d8cf068cc3bc5be03b9e6113a687c8fa60ae52541962e5d60\r\nContent-Disposition:
      form-data; name=\"file\"; filename=\"\"\r\nContent-Type: application/octet-stream\r\n\r\n{\"data\":\"CAE=\",\"links\":[{\"Cid\":{\"/\":\"QmSFEbC6Y17cdti7damkjoqESWftkyfSXjdKDQqnf4ECV7\"},\"Name\":\"file1.txt\",\"Size\":22},{\"Cid\":{\"/\":\"QmVssUfKob8KkUyUiwzoGqNTKqyaEXfqxeGiUJ7ZGyfPLV\"},\"Name\":\"file2.txt\",\"Size\":22}]}\r\n--8ce9e41b908d8cf068cc3bc5be03b9e6113a687c8fa60ae52541962e5d60--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=8ce9e41b908d8cf068cc3bc5be03b9e6113a687c8fa60ae52541962e5d60
    url: https://ipfs.infura.io:5001/api/v0/dag/put?encoding=json&format=protobuf&input-enc=json&pin=true&stream-channels=true
    method: POST
  response:
    body: |
      {"Cid":{"/":"QmaRt7pb5LE7991M94XzVCcZgUKPLoihD941GyFSuYBQ9Y"}}
    headers:
      Content-Type:
      - application/json
      X-Chunked-Output:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://ipfs.infura.io:5001/api/v0/object/stat?arg=QmaRt7pb5LE7991M94XzVCcZgUKPLoihD941GyFSuYBQ9Y&encoding=json&stream-channels=true
    method: POST
  response:
    body: |
      {"Hash":"QmaRt7pb5LE7991M94XzVCcZgUKPLoihD941GyFSuYBQ9Y","NumLinks":2,"BlockSize":106,"LinksSize":104,"DataSize":2,"CumulativeSize":150}
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://ipfs.infura.io:5001/api/v0/cat?arg=QmZgrVVH6Dp4MR4FoF5npDTtJzLneH2KvxoPHixAiucVJH%2Fsubdir%2Ffile1.txt&encoding=json&stream-channels=true
    method: POST
  response:
    body: file 1 content
    headers:
      Content-Type:
      - text/plain
      X-Content-Length:
      - "14"
      X-Stream-Output:
      - "1"
    status: 200 OK
    code: 200
    duration: ""
